<%- include("../partials/head") %> 
<div id="cluster-map"></div>
<div class="container">
<h1 class="text-center">All hotels</h1>
<div class="mb-3">

</div>
<% for (let h of hotel){%>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-4">
            <%if(h.images.length) {%>
            <img class="img-fluid" alt="" src="<%=h.images[0].thumbnail1%>">
            <% }else {%>
            <img class="img-fluid" style="width:200px ; height:152px" alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= h.title %> </h5>

                <p class="card-text"><%= h.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= h.location%></small>
                </p>
                <a class="btn btn-primary" href="/hotels/<%=h._id%>">View <%=h.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>
</div>
<%- include('../partials/footer')%>
